<%- include('./partials/head', {styles: ['index-style']}) %>

<body>
    <%- include('./partials/header', {styles: ['index-style']}) %>

    <section>
        <div class="banner-container">
            <div class="image-slider">
                <img src="/images/img-index-banner.jpg" alt="Imagen 1">
                <img src="/images/img-index-banner2.jpg" alt="Imagen 2">
                <img src="/images/img-index-banner3.jpg" alt="Imagen 3">
            </div>
        </div>
    </section>


    <main>
        <section class="most-sold">
            <h3>Lo más vendido</h3>
            <div class="products">
                <article>
                    <img src="/images/placa-video.jpg" alt="Producto 1" class="product-img">
                    <div class="main-article">
                        <h4 class="description">Placa De Video Evga Nvidia Geforce Rtx 2060 Sc Gaming 6gb</h4>
                        <p class="price">$333.083</p>
                        <p class="discount">5% off</p>
                    </div>
                </article>
                <article>
                    <img src="/images/monitor.jpg" alt="Producto 2" class="product-img">
                    <div class="main-article">
                        <h4 class="description">Monitor 24 Led Fhd 75hz Ips T350h Samsung</h4>
                        <p class="price">$101.044</p>
                        <p class="discount">5% off</p>
                    </div>
                </article>
                <article>
                    <img src="/images/memoria.jpg" alt="Producto 3" class="product-img">
                    <div class="main-article">
                        <h4 class="description">Memoria 32gb 2x16 7000mhz Ddr5 Viper Venom Patriot</h4>
                        <p class="price">$142.049</p>
                        <p class="discount">5% off</p>
                    </div>
                </article>
            </div>

        </section>

    </main>

    <section class="find-your-product">
        <h3>Encontrá el producto ideal para vos</h3>
        <div class="products">
            <article>
                <img src="/images/index-product1.png" alt="Producto 1" class="product-img">
                <div class="main-article">
                    <h4 class="description">Notebook Ideapad 1 N4020 4gb 128gb Win11 Lenovo</h4>
                </div>
            </article>
            <article>
                <img src="/images/index-product2.png" alt="Producto 2" class="product-img">
                <div class="main-article">
                    <h4 class="description">Mouse G Pro X Superlight White Ligthspeed Logitech</h4>
                </div>
            </article>
            <article>
                <img src="/images/index-product3.png" alt="Producto 3" class="product-img">
                <div class="main-article">
                    <h4 class="description">Teclado K70 Pro Mini Wireless 60 Rgb Mx Speed Us Black Corsair</h4>
                </div>
            </article>
        </div>
    </section>
    <%- include('./partials/footer', {styles: ['index-style']}) %>
    </body>
</html>