<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTech</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>

        <div class="top-header">

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div class="logo-container">
                <img src="/images/digitaltech-logo2.png" alt="Logo de DigitalTech" class="logo">
                <h1 class="title">Digital Tech</h1>
            </div>

            <div class="form" action="#" method="GET">
                <div class="input"><i class="fa fa-search"></i> Buscar productos, marcas y más</div>
                <div class="submit"></div>
            </div>
        </div>

        <div class="right-section">
            <div class="left-icons">
                <i class="fas fa-user-circle"></i><i class="fas fa-shopping-cart"></i>
            </div>
        </div>

    </header>

    <section>
        <div class="banner-container">
            <div class="image-slider">
                <img src="/images/img-index-banner.jpg" alt="Imagen 1">
                <img src="/images/img-index-banner2.jpg" alt="Imagen 2">
                <img src="/images/img-index-banner3.jpg" alt="Imagen 3">
            </div>
        </div>
    </section>


    <main>
        <section class="most-sold">
            <h3>Lo más vendido</h3>
            <div class="products">
                <article>
                    <img src="/images/TVsmart.webp" alt="Producto 1">
                </article>
            </div>

        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>