<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DigitalTech </title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div id="header-content">
            <div class="burger-menu">
                <a href="#"><i class="fas fa-bars burger-menu"></i></a>
            </div>
            <div id="logo"><img src="\img\logo_digitaltech.png" alt="Logo"></div>
            <div id="title">DigitalTech</div>
        </div>
        <div id="search-user-cart">
            <div id="search-bar">
                <input type="text" placeholder="Buscar...">
            </div>
            <div id="user-cart">
                <button id="account">
                    <i class="fa-solid fa-user"></i>
                </button>
                <button id="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="grid">
            <div class="izquierda centrado no__overflow">
                <img class="img" src="../img/login.jpg" alt="imagen-login">
            </div>
            <div class="derecha centrado">
                <div class="login-form">
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="texto" id="usuario" name="usuario" placeholder="Usuario" autocomplete="off">
                    <input type="clave" id="clave" name="clave" placeholder="Contraseña" autocomplete="off">
                    <div class="justificado">   
                        <span>
                        <input type="checkbox" id="recordarme" name="recordarme" value="recordarme">
                        <label for="recordarme" class="recordarme">Recordarme</label><br>
                        </span>
                        <a href="#" class="clave_olvidada">Olvidaste tu clave?</a>
                    </div>
                    <button type="submit" class="boton_login">Ingresar</button>
                    <div class="registro">
                        <label class="recordarme">
                        No tenes Cuenta?</label><a href="#" class="clave_olvidada" style="text-decoration: none;"><strong>Registrate</strong></a>
                    </div>
                </div>
                </div>
            
            </div>
        
    </main>
    <footer>
        <ul class="footer-links-left">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
    
        <div class="social-media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    
        <ul class="footer-links-right">
            <li><a href="#">Dónde estamos</a></li>
            <li><a href="#">Defensa al consumidor</a></li>
            <li><a href="#">Términos de servicio</a></li>
            <li><a href="#">Políticas de reembolso</a></li>
        </ul>
    </footer>
  </body>
</html>

