<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
    <header>
        <div id="logo">Logo</div>
        <div id="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <div id="account">
            <i class="fa-solid fa-user"></i>
        </div>
        <div id="cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </header>
  
    <main>
        <div id="login-form">
            <form>
                <label for="username">Usuario:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Login">
                <a href="#">Olvidaste tu contraseña?</a>
            </form>
        </div>
  
        <div id="image">
            <img src="images/login.jpg" alt="Login">
        </div>
    </main>
  
    <footer>
        <div class="footer-links">
            <a href="#">Contacto</a> | 
            <a href="#">Sobre nosotros</a> | 
            <a href="#">Preguntas frecuentes</a> | 
            <a href="#">Dónde estamos</a> | 
            <a href="#">Defensa al consumidor</a> | 
            <a href="#">Términos de servicio</a> | 
            <a href="#">Políticas de reembolso</a> 
        </div>
  
        <div class="social-media-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>
  </body>
</html>

