<!DOCTYPE html>
<html>
<head>
    <title>P치gina no encontrada</title>
</head>
<body>
    <h1>Error 404 - P치gina no encontrada</h1>
    <p>Lamentamos no poder acceder a la p치gina que est치 buscando.</p>
</body>
</html>