<%- include('./partials/head', {styles: ['cart']}) %>

<body>
    <%- include('./partials/header', {styles: ['cart']}) %>
    <main>
     
    <h1>Error 404 - Página no encontrada</h1>
    <h4>Lamentamos no poder acceder a la página que está buscando.</h4>

    </main>

    
    <%- include('./partials/footer', {styles: ['cart']}) %>
</body>
</html>