<%- include('./partials/head', {styles: ['product']}) %>
    
    <main>
        <section class="product">        
            <div class="container-img">
            <img src="images/monitor.jpg" alt="imagen-producto" class="-image">
        </div>

        <div class="container-info-product">
            <h2 class="product-name">Monitor Gamer 22 pulgadas</h2>
            <div class="container-price">
                <span>$64.489</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="negro">Negro</option>
                        <option value="blanco">Blanco</option>
                        <option value="verde">Gris</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Marca</label>
                    <select name="size" id="size">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="Panasonic">Philips</option>
                        <option value="Sonic">Sonic</option>
                        <option value="Apple">Apple</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity">
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>
                        Gozá de una experiencia única con este monitor que te ofrece gran calidad e innovación en uno solo. Gracias a su pantalla LCD vas a obtener gráficas con gran nitidez, colores vivos y atractivos.

                        Este monitor de 21.5" te va a resultar cómodo para estudiar, trabajar o ver una película en tus tiempos de ocio. Asimismo, su resolución de 1920 x 1080 te permite disfrutar de momentos únicos gracias a una imagen de alta fidelidad.
                    </p>
                </div>
            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p>-----------</p>
                </div>
            </div>
        </div>
        </div>
        </section>



        <section class="related-products">
            <img src="images/placa-video.jpg" alt="" style="max-width: 100%;" class="image">
            <img src="images/mouse.jpg" alt="" style="max-width: 100%;" class="image">
            <img src="images/teclado.jpg" alt="" style="max-width: 100%;" class="image">
        </section>
    </main>
    <%-  include('./partials/footer', {styles:['product, 'footer']}) %>    