<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Tu carrito</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/cart.css">
    

</head>
<body>
    <%- include('./partials/header', {styles: ['cart']}) %>
        
       <div class="subtitle">
       <h2><i class="fas fa-shopping-cart"></i>    Tu carrito</h2>
       </div>
    <main>
        <section>
            <div class="items">
                <h4>Productos</h4>
                    <div class="cart-item">
                    <img class="product-pic" src="/images/teclado.jpg" alt="">
                    <div class="product-details">
                        <span class="product-name">Teclado inalámbrico</span>
                        <span class="cart-items-price">$32.650</span>
                     </div>
                        <div class="amount">
                            <i class="fas fa-minus substract-product"></i>
                            <input type="text" value="1" class="cart-items-amount" disabled>
                            <i class="fas fa-plus"></i>
                        <span class="delete">
                            <i class="fas fa-trash"></i>
                        </span>
                    </div>
                </div>
        
                <div class="cart-item">
                    <img class="product-pic" src="/images/mouse.jpg" alt="">
                    <div class="product-details">
                        <span class="product-name">Mouse gamer</span>
                        <span class="cart-items-price">$36.000</span>
                     </div>
                        <div class="amount">
                            <i class="fas fa-minus substract-product"></i>
                            <input type="text" value="1" class="cart-items-amount" disabled>
                            <i class="fas fa-plus"></i>
                        <span class="delete">
                            <i class="fas fa-trash"></i>
                        </span>
                    </div>
                </div>
    
            </div>
            
            <div class="subtotal">
                <h4 class="">Subtotal</h4>
                <div class="product-subtotal">
                    <strong>$32.650</strong>
                </div>
                <div class="product-subtotal">
                    <strong>$36.000</strong>
                </div>
            </div>
        </section>


        <div class="shipping">
            <h4>Envío <i class="fa-solid fa-truck"></i>
            </h4>
            <span class="shipping-price">¡Gratis!</span>
        </div>

        <div class="cart-total">
            <h4>Tu total:</h4>
            <span class="price-total">$68.650</span>
        </div>
        
        <button class="buy-now" type="submit">¡Comprar!</button>

    </main>
    <%- include('./partials/footer', {styles: ['cart']}) %>
    

</body>
</html>