<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/cart.css">
    

</head>
<body>
    <header>

    </header>
    <main>
        <h1><i class="fas fa-shopping-cart"></i>    Tu carrito</h1>
        
    </main>

    <footer>

    </footer>

</body>
</html>