<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido.</title>
</head>
<body>
    <h1>Hola <%= user.name %> ingresaste <%= new Date(user.timestamp) %></h1>
    <a href="/logout"><button>Log Out</button></a>
</body>
</html>