<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DigitalTech </title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="burger-menu">
                <a href="#"><i class="fas fa-bars burger-menu"></i></a>
            </div>
            
            <div class="logo">
                <a href="/"><img src="\img\logo_digitaltech.png" alt="Logo"></a></div>
            <div class="title">DigitalTech</div>
        </div>
        <div class="search-user-cart">
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search"></i>
            </div>
            <div class="user-cart">
                <button class="account">
                    <i class="fas fa-user"></i>
                </button>
                <button class="cart">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </header>
    <main>
        <h2>¡Crea tú cuenta!</h2>
        
        <ul type="None">
        <br> 
        <li> <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </li></br>
        <br>
        <li> 
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </li></br>
        <br>
        <li>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
        </li></br> 
        <br>
        <li>
            <input type="submit" value="Crear Cuenta"> 
        </li></br>
        </ul>
        </form>
    </main>

    <footer>
        <ul class="footer-links-left">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
    
        <div class="social-media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    
        <ul class="footer-links-right">
            <li><a href="#">Dónde estamos</a></li>
            <li><a href="#">Defensa al consumidor</a></li>
            <li><a href="#">Términos de servicio</a></li>
            <li><a href="#">Políticas de reembolso</a></li>
        </ul>
    </footer>

</body>
</html>