<%- include('./partials/head', {styles: ['register']}) %>

<body>
    <%- include('./partials/header', {styles: ['register']}) %>
        <main>

        <section class='form'>
            <h2>¡Crea tú cuenta!</h2>
        <ul type='None'>
        <br> 
        <li>  
            <input type='text' id='Nombre' name='Nombre' placeholder='Nombre' autocomplete='off'>
        </li></br>
        <br>
        <li> 
            <input type='Email' id='Email' name='Email' placeholder='Email' autocomplete='off'>
        </li></br>
        <br>
        <li>
            <input type='password' id='Contraseña' name='Contraseña' placeholder='Contraseña' autocomplete='off'>
        </li></br> 
        <br>
        <li>
            <button type='submit' class='boton_register'>Registrar</button>
        </li></br>
        <p><a href='#' class='ya_esta_registrado'>Ya estoy registrado</a></p>
        </ul>
    </section>
    </main>
    <%- include('./partials/footer', {styles: ['register']}) %>
    </body>
</html>