@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}
html {
    width: 100vw;
}

img {
    width: 100%;
}

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
}
header {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    padding: 5px;
    background-color: #8C1E92;
    color: white;
    height: 10vh;
}

.burger-menu{
    color: white;
    width: 10%;
    height: auto;
}

div.logo{
    width: 20%;
}
.logo img {
    height: auto;
} 

.header-content {
    display: flex;
    align-items: center;
    width: 50%;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 100%;
width: 60%; }

.search-user-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    height: 5vh;
    box-sizing: border-box;
    width: 50%;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 25px; 
    background-color: white; 
    padding: 1%; 
    height: auto;
    width: 60%;
    color:#cecece;
    font-size: 50%;
}

.search-bar input[type="text"] {
    border: none; 
    width: 90%; 
    margin: 2px;
     }

.user-cart {
    display: flex;
    align-items: center;
}

button.account, button.cart {
    background: none;
    border: none;
    color: white;
    font-size: 1em; 
    cursor: pointer;
}

button.account:focus, button.cart:focus {
    outline: none; 
}

main {
    display: flex;
    grid-template-columns: 1fr 1fr; 
    padding: 20px;
}

.login-form {
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: 50vh;
    object-fit: cover; 
}



footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}


.footer-links-left, .footer-links-right {
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    margin-right: 20px; 
}

.footer-links-left a, .footer-links-right a {
    color: white;
}

.social-media-icons a {
    color: white;
    margin-right: 40px;
}

