* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #8C1E92;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    /* Utilizamos flexbox para alinear los elementos horizontalmente */
    align-items: center;
    /* Centra verticalmente los elementos en el contenedor */
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.burger.menu {
    text-align: left;
}

header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    font-size: 10px;
}

.right-section {
    display: flex;
    align-items: center;
}

.left-icons i {
    font-size: 15px;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    margin: 0;
}

/* Estilos para el contenedor del banner */
.banner-container {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    /* Oculta el contenido que excede el ancho del banner */
}

/* Estilos para el carrusel de imágenes */
.image-slider {
    display: flex;
    /* Muestra las imágenes en una fila */
    overflow-x: scroll;
    /* Permite el desplazamiento horizontal */
    scroll-snap-type: x mandatory;
    /* Controla el desplazamiento snap-to-grid */
}

/* Estilos para las imágenes dentro del carrusel */
.image-slider img {
    width: 100%;
    /* Ajusta el ancho de las imágenes al 100% del banner */
    height: auto;
    /* Mantiene la proporción original de las imágenes */
    scroll-snap-align: start;
    /* Define el punto de alineación */
}


/* Main */


.most-sold {
    background-color: #f4f4f4;
    padding: 20px;
}


.most-sold h3 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}


.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


article {
    width: calc(33.33% - 20px);
    /* Ancho de cada artículo (33.33% del contenedor con un margen de 20px) */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
}


.product-img {
    max-width: 100%;
    height: auto;
}


.description {
    font-size: 18px;
    margin-top: 10px;
}


.price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.discount {
    color: #e74c3c;
    margin-top: 5px;
}



@media (max-width: 767px) {
    .title {
        display: none;
        /* Oculta el título en dispositivos móviles */
    }
}