body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #8C1E92;
    color: white;
}

#logo img {
    width: 70px; 
    height: auto;
}

#search-bar input[type=text] {
    padding: 5px;
    width: 150%;
}

#account a, #cart a {
    color: white; 
    margin: 0 80px;

}
#account, #cart {
    color: white;
    margin: 0 80px;
    padding: 0;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#login-form form {
    width: 300px;
}

#login-form label {
    display: block;
    margin-top: 20px;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#login-form input[type=submit] {
    margin-top: 20px;
}

#image img {
    max-width: 100%;
}

/* footer {
    justify-content: space-between;
} */
footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}


.footer-links-left, .footer-links-right {
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    margin-right: 20px; 
}

.footer-links-left a, .footer-links-right a {
    color: white;
}

.social-media-icons a {
    color: white;
    margin-right: 40px;
}

i {
    font-size: 2em;
}
