@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
}

img {
    width: 30%;
}
/* #logo img {
    width: 70px;
    height: auto;
}  */

/* header {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la cabecera en dos columnas */
    /* align-items: center; Centra verticalmente los elementos */
    /* padding: 20px;
    background-color: #8C1E92;
    color: white;
}  */
/*
#header-content {
    display: flex;
    align-items: center;
}

#logo img {
    width: 70px;
    height: auto;
}

#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    margin-left: 20px; /* Agrega margen izquierdo para separar el logo y el título */
/* }

#search-user-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end; Coloca los elementos en el lado derecho
}

#search-bar {
    flex-grow: 1; *//* Utiliza todo el espacio disponible */
    /* display: flex; */
    /* align-items: center;
    margin-right: 20px; Agrega margen derecho para separar la barra de búsqueda de los iconos */
    /* border-radius: 25px; Aplica bordes redondeados */
    /* background-color: white; Cambia el color de fondo a blanco */
    /* padding: 10px; Añade relleno para ajustar el tamaño
} */

/* #search-bar input[type='text'] { */
    /* border: none; Elimina el borde predeterminado */
    /* width: 100%; Ocupa todo el ancho disponible */
    /* padding: 5px; /* Ajusta el relleno interior */
/* } */ 

/* #account,
#cart {
    background: transparent;
    border: none;
    font-size: 25px;
    margin: 5px;

}

.white-icon {
    color: white;
    background: none;
    border: none;
}

#user-cart {
    display: flex;
    align-items: center;
} */

body {
    background-image: url('../img/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.form h2 {
    font-family: 'arial';
    font-size: 30px;
    margin: 16px;
    text-align: center;
    color:#1B288A;

}

.form {
    width: 400px;
    background-color: #cecece;
    background-position: right center;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    text-align: center;
    font-family: 'arial';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    input[id=Nombre], input[id=Email], input[id=Contraseña] {
    width: 100%;
    padding: 12px 16px;
    margin: 0px 0;
    display: block;
    border: 1px solid #c8c3cf;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F6F5F7;
    font-size: 16px;
    color: #4F4659;
    outline: none;
    transition: box-shadow 0.25s ease-in-out,  background-image 0.25s;
    }

    input[id=Nombre]:focus, input[id=Email]:focus, input[id=Contraseña]:focus {
        border-color: #A26ED4;
        background: #FAF8FD;
        background: #FDFCFE;
        box-shadow: 0 0 0 0.25rem #ebd6ff;
        }

        ::-webkit-input-placeholder {
            color: #A29CA8;
            }
            :-ms-input-placeholder {
            color: #A29CA8;
            } ::placeholder {
            color: #A29CA8;
            }
            .justificado{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 30px 0 26px 0;
            }
            .ya_esta_registrado {
                color: #551A8B;
                text-align: left;
                outline-color: #B595D4;
                }
                .ya_esta_registrado:active {
                color: #867992;
                }

.boton_register {
                    outline-color: #734E96;
                    width: 100%;
                    border: none;
                    background-color: #A26ED4;
                    padding: 13px 17px;
                    color: #fff;
                    border-radius: 0.25rem;
                    font-size: 16px;
                    cursor: pointer;
                    transition: box-shadow 0.25s ease-in-out, background-color 0.3s;
                    }
.boton_register:hover {
                    box-shadow: 0 0 0 0.25rem #DAC5EE;
                    }
.boton_register:active {
                    background-color: #874DBF;
                    box-shadow: 0 0 0 0.35rem #DAC5EE;
                    }
/* 
footer {
    margin: 0;
    margin-top: 30%;
    padding: 0;
    background-color: black;
    color: white;
    align-items: center;
    justify-content:space-between;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: nowrap;
}

.social-media-icons{
   display: flex;
    justify-content: space-around;
    width: 45%;
}
.footer-links-left, .footer-links-right {
    list-style-type: none;
    padding: 0;
    margin-top:25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 55%;
    width: 80px;
}

.footer-links-left a, .footer-links-right a {
    color: whitesmoke;
}

.social-media-icons a {
    color: whitesmoke;

} */

@media only screen and (max-width:  800px) {
    .grid {
    grid-template-columns: auto;
    }
    .izquierda{
    order: 2;
    padding: 20px;
    }
    .derecha {
    order: 1;
    }
    .centrado {
    align-items: flex-start;
    }
    .no__overflow {
    align-items: flex-start;
    }
    .img {
    width: 100vw;
    }
    }
    @media only screen and (max-height:  600px) {
    .img {
    width: 120%;
    }
    }