/* estilos comunes de los partials */
#logo img {
    width: 70px; 
    height: auto;
} 

header {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    padding: 20px;
    background-color: #8C1E92;
    color: white;
}

#header-content {
    display: flex;
    align-items: center;
}

#logo img {
    width: 70px;
    height: auto;
}

#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    margin-left: 20px; 
}

#search-user-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#search-bar {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    margin-right: 20px; 
    border-radius: 25px; 
    background-color: white; 
    padding: 10px;
}
.white-icon {
    color: white;
    background: none; 
    border: none; 
}
#account,
#cart {
    background: transparent; 
    border: none; 
}
#search-bar input[type="text"] {
    border: none; 
    width: 100%; 
    padding: 5px;
}

.user-cart {
    display: flex;
    align-items: center;
}

i {
    font-size: 2em;
}
.burger-menu{
    color: white;
    width: 5%;
    height: auto;
}
.user-icon {
    text-align: center; 
    margin-bottom: 20px;
}

.user-icon i {
    font-size: 64px; 
    color: gray;
} 

nav {
    display: none;
    color: #f5f5f5;
    padding: 5px;
    border: 2px;
    height: 10vh;
}

nav a {
    color: white;
    padding: 8px;
    border: 1px #A26ED4 solid;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px;
    background: #A26ED4;
}


footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: nowrap;
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.footer-links-left,
.footer-links-right {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1vw;
    width: 25%;
}

.footer-links-left a,
.footer-links-right a {
    color: white;
}

.social-media-icons a {
    color: white;
}

a:hover {
    background-color: #500b54;
}

button:hover {
    background: #500b54;
}
/*tablet*/
@media (min-width: 361px) {

    header i {
        font-size: 2em;
    }
}

/*desktop*/
@media (min-width:769px) {
    .header-content {
        width: 55%;
        align-items: center;
    }

    div.logo {
        width: 9vh;
        height: 9vh;
    }

    .title {
        font-size: 150%;
        width: 20%;
        text-align: center;
    }

    .burger-menu {
        display: none;
    }

    nav {
        display: flex;
        width: 90%;
        justify-content: center;
        margin-right: 5%;
        margin-left: 5%;
    }
    nav a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 70%;
        height: 4vh;
        width: 8vw;
    }
    .search-user-cart {
        width: 40%;
        justify-content: space-around;
        align-items: center;
    }

    .user-cart {
        padding: 3%;
    }

    div.search-bar {
        width: 30%;
    }
    
}