<footer>
    <ul class="footer-links-left">
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
    </ul>

    <div class="social-media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <ul class="footer-links-right">
        <li><a href="#">Dónde estamos</a></li>
        <li><a href="#">Defensa al consumidor</a></li>
        <li><a href="#">Términos de servicio</a></li>
        <li><a href="#">Políticas de reembolso</a></li>
    </ul>
</footer>