<header>
    <div id="header-content">
        <div class="burger-menu">
            <a href="#"><i class="fas fa-bars burger-menu"></i></a>
        </div>
        <div id="logo"><img src="\img\logo_digitaltech.png" alt="Logo"></div>
        <div id="title">DigitalTech</div>
        <nav>
            <a href="">Productos</a>
            <a href="">Marcas</a>
            <a href="">Preguntas frecuentes</a>
        </nav>

    </div>
    <div id="search-user-cart">
        <div id="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <div id="user-cart">
            <button id="account">
                <i class="fas fa-user white-icon"></i>
            </button>
            <button id="cart">
                <i class="fas fa-cart-arrow-down white-icon"></i>
            </button>
        </div>
    </div>
</header>