<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Tu carrito</title>

    <% locals.styles && styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style%>.css" />
      <% }); %>
    <link rel="stylesheet" href="/css/cart.css">
    

</head>