<footer>
        
    <div class="footer-ops">
        <a href="">Contacto</a>
        <a href="">Sobre Nosotros</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Dónde Estamos</a>
    </div>

    <div class="footer-contactos">
        <div>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>

        </div>
        <p>Digital Tech</p>
    </div>

    <div class="footer-ops">
        <a href="">Defensa al Consumidor</a>
        <a href="">Términos de Servicio</a>
        <a href="">Politicas de Reembolso</a>
    </div>